@import "~bulma"

$primary: #00d1b2
$primary-invert: #ffffff
$hero-section-padding-large: 20.5rem 1.5rem
$hero-block-section-padding-medium: 6rem 1.5rem

nav
  border-bottom: lightgray solid 0.1vmin

.navbar
  background-color: black

.footer
  background-color: #83aa81

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important

/* Home Page */
.hero
  padding: $hero-section-padding-large
  background-color: gray

.hero-block
  padding: $hero-block-section-padding-medium
  background-color: #83aa81

.subheading_part1
  color: white

.subheading_part2
  color: #83aa81

.avocado
  padding: $section-padding-medium

.affiliates
  background-color: darkgray

.spotlight
  padding: $section-padding-medium
  .spotlight_image
    border-radius: 10px
